body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(cyan, gold);
    color: black;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 250px;
    height: 275px;
    border-radius: 50%;
    border: 6px solid lime;
    margin-bottom: 10px;
}

#bday-age {
    background: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    color: whitesmoke;    
}

#bday-date {
    margin: 0;
    background: black;
    padding: 5px 10px;
    border-radius: 5px;
    color: whitesmoke;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 350px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("/images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("/images/loveAnime.gif");
}

#gift-img-hot:hover {
    background-image: url("/images/shockedAnime.gif");
    background-position: 50% center;
}

#gift-img-genius:hover {
    background-image: url("/images/godTierAnime.gif");
     background-position: 50% center;
}

#gift-img-badass:hover {
    background-image: url("/images/hahaNoone.gif");
}

#gift-img-cheers:hover {
    background-image: url("/images/anniversary.gif");
    background-position: 50% center;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}